@mixin flex {
    align-items: center;
    display: flex;
    justify-content: center;
}

@keyframes text-kerning {
    from { letter-spacing: 5px; }
    to { letter-spacing: 3px; }
}

* {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300px;
    font-weight: 100;
    margin: 0px;
    overflow: hidden;
    padding: 0px;
    text-align: center;
}

a, a:visited {
    text-decoration: none;
    transition-property: background-color, color, padding;
    transition-duration: 0.5s;
}

header {
    @include flex; 

    background: black;
    flex-direction: column;
    color: white;
    height: 100vh;
    width: 100vw;

    h1 {
        font-size: 100%;
        transition: 0.3s filter ease-out;

        &:hover {
            filter: blur(10px);
        }
    }

    div {
        @include flex; 

        height: 40px;
        width: 50%;

        a, a:visited {
            @include flex;

            color: white;
            font-size: 6%;
            height: 100%;
            text-decoration: none;
            width: 30%;

            &:hover {
                background-color: white;
                color: black;
                padding: 5px;
            }
        }
    }
}

.about-me {
    p {
        text-align: center;
        height: fit-content;
        width: 60%;
        transition: 0.3s filter ease-in-out;

        font-size: 9%;
        letter-spacing: 5px;

        a, a:visited {
            font-size: 100%;
            transition: 0.3s filter ease-in-out;

            &:hover {
                filter: blur(2px);
            }
        }
    }
    
    .back {
        color: white;
        font-size: 20%;

        &:hover {
            background-color: white;
            color: black;
            padding: 5px;
        }
    }
}

.projects {
    p {
        text-align: center;
        height: 30%;
    }

    a {
        font-size: 20%;
    }

    .back {
        color: white;
        font-size: 20%;

        &:hover {
            background-color: white;
            color: black;
            padding: 5px;
        }
    }
}

@media screen and (max-width: 1000px){
    .about-me {
        p {
            font-size: 8%;
            width: 80%;
        }
    }
}


@media screen and (max-width: 700px){
    * {
        font-size: 120px;
    }

    header div {
        width: 40%;

        a, a:visited {
            font-size: 10%;
            width: 33%;
        }
    }

    .about-me {
        font-size: 180%;
    }
}

@media screen and (max-width: 500px){
    header div {
        width: 80%;

        a, a:visited {
            font-size: 10%;
        }
    }
}
