/* markdown*/
* {
    font-family: Helvetica; 
}

h1 {
    text-align: center;
    vertical-align: middle;
}

p {
    font-family: Helvetica;
    font-size: 5vmin; 

    text-align: center
}

/* classes */
.main_title {
    border-style: solid;
    border-color: #87ced4;
    border-radius: 1vmin;

    color: #659a9f; 

    font-size: 500%
}

.highlight {
    color: #659a9f;
}