@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap');

@mixin flex {
    align-items: center;
    display: flex;
    justify-content: center;
}

@keyframes move-reset {
    to { transform: perspective(150px) rotateX(0deg) rotateY(0deg) }
}

@keyframes pulse {
    from { height: 120vh }
    to { height: 125vh }
}

@keyframes pulse-text {
    from { font-size: 140% }
    to { font-size: 160% }
}


* {
    color: white;
    font-family: 'JetBrains Mono', monospace;
    font-size: 300px;
    font-weight: 100;
    margin: 0px;
    overflow: hidden;
    padding: 0px;
    text-align: center;

    body {
        background: black;
    }

    ::selection {
        background-color: rgba(255, 255, 255, 0.1)
    }
}

a, a:visited {
    text-decoration: none;
    transition-property: background-color, border-radius, color, padding;
    transition-duration: 0.5s;
}

.reset-anim {
    animation: 1s ease-out forwards move-reset;
}

.background {
    animation: 10s ease-in-out infinite alternate pulse; 
    aspect-ratio: 0.666;
    filter: invert(1);
    height: 120vh;
    left: 50%;
    opacity: 0.2;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1000;
}

.waves {
    aspect-ratio: 16/9;
    height: 120vh;
    width: 120vh * 16/9;
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -999;
}

.blur {
    opacity: 0.2;
    filter: blur(40px);
}

header {
    @include flex; 

    flex-direction: column;
    color: white;
    height: 100vh;
    width: 100vw;

    .title-container {
        h1 {
            color: white;
            font-size: 100%;
            transition: 0.3s filter ease-out;
    
            &:hover {
                filter: blur(10px);
            }
        }
    }

    h2 {
        font-size: 6%;
        padding: 3px;
    }

    .button-holder {
        @include flex; 

        height: 40px;
        width: 50%;

        a, a:visited {
            @include flex;

            color: white;
            font-size: 6%;
            height: 100%;
            margin: 3px;
            text-decoration: none;
            width: 30%;

            &:hover {
                background-color: rgba(255, 255, 255, 0.7);
                border-radius: 20%;
                color: black;
                padding: 5px;
            }
        }
    }
}

.about-me {
    @include flex; 

    height: 100vh;
    width: 100vw;

    p {
        text-align: center;
        height: fit-content;
        width: 60%;
        transition: 0.3s filter ease-in-out;

        font-size: 9%;
        letter-spacing: 3px;
        line-height: 110%;

        a, a:visited {
            font-size: 100%;
            transition: 0.3s filter ease-in-out;

            &:hover {
                filter: blur(2px);
            }
        }

        .faded {
            color: rgba(255, 255, 255, 0.5);
            font-size: 50%;
            line-height: 60%;
            margin: 0px;
        }
    }
    
    .back {
        color: white;
        font-size: 20%;

        &:hover {
            background-color: white;
            color: black;
            padding: 5px;
        }
    }
}

.projects {
    @include flex;
    
    p {
        text-align: center;
        height: 80%;
        text-shadow: 0 0 40px rgba(255, 255, 255, 0.4), 0 0 200px rgba(255, 255, 255, 1);
        overflow: visible;
        animation: 10s ease-in-out alternate infinite pulse-text;
    }

    a {
        font-size: 20%;
    }

    .back {
        color: white;
        font-size: 20%;

        &:hover {
            background-color: white;
            color: black;
            padding: 5px;
        }
    }
}

@media screen and (max-width: 1000px){
    .about-me {
        p {
            font-size: 8%;
            width: 80%;
        }
    }
}


@media screen and (max-width: 700px){
    * {
        font-size: 120px;
    }

    header .button-holder {
        width: 40%;

        a, a:visited {
            font-size: 10%;
            width: 33%;
        }
    }

    .about-me {
        font-size: 180%;
    }
}

@media screen and (max-width: 500px){
    header h2 {
        font-size: 13%;
    }

    header .button-holder {
        width: 80%;

        a, a:visited {
            font-size: 10%;
        }
    }
}
