/* 
    Here's my theme colors:

    #4b4e6d <-- Navy blue
    #a0d2db <-- Lighter blue
    #bee7e8 <-- Lighterer blue
    #ffffff <-- White
    #f4d35e <-- Yellow

*/

/* ―――――――――――――――――――――――――――――――――――――――――― */ 

/* markdown */
* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center; 
}

a {
    color: #f4d35e;
    text-decoration: none;
}

body, html {
    max-width: 100%;
    overflow-x: hidden;
}

div {
    white-space: nowrap;
}

/* effects */
a:link, a:visited {
    color: #f4d35e;
}
  
a:hover {
    color: transparent;
    text-shadow: 0 0 20px #fff;

    -webkit-text-stroke: 0.5px #fff;
}

h1:hover {
    color: transparent;
    -webkit-text-stroke: 3px #a0d2db;
}

/* ―――――――――――――――――――――――――――――――――――――――――― */

/* classes */

/** sectional classes **/
.first-section {
    background: linear-gradient(180deg, #4b4e6d, #383b52);
    height: 80vh; 
    white-space: nowrap; 
}

.transition-section {
    background: #fff;
    height: 20vh;
}

.text-section {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 5%, rgba(190, 231, 232, 1) 30%, rgba(190, 231, 232, 1) 50%, rgba(190, 231, 232, 1) 70%, rgba(255, 255, 255, 1) 95%);
    height: 35vh; 
}

.spacer-bar {
    background: linear-gradient(90deg, #fff 10%, #f4d35e 30%, #f4d35e 50%, #f4d35e 70%, #fff 90%);;
    height: 1vh;
    width: 100%; 
}

.smaller-spacer-bar {
    background: linear-gradient(90deg, #fff 30%, #f4d35e 50%, #f4d35e 50%, #f4d35e 50%, #fff 70%);;
    height: 1vh;
    width: 100%; 
}

.closing-section {
    background: linear-gradient(0deg, #4b4e6d, #383b52);
    height: 40vh; 
    white-space: nowrap;
}

/** text classes **/
.main-title {
    color: #a0d2db; 
    font-size: 20vw;
    text-shadow: 0 0 20px #bee7e868;
}

.lower-heading {
    color: #4b4e6d;
    font-size: 8vh;
    text-shadow: 0 0 20px #4b4e6d;
}

/** image classes **/
.cover {
    height: 13vw; 
    width: 13vw;
}

.logo {
    height: 12vh;
    width: 12vh; 
}

/* utility classes */
.centered-box {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.grow-hover, .shrink-hover {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);

    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;

    -webkit-transition-property: transform;
    transition-property: transform;
}

/* class effects */
.grow-hover:hover, .grow-hover:focus, .grow-hover:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 1000; 
}

.lower-heading:hover {
    text-shadow: 0 0 20px #a0d2db;
}

/** animation hovers **/ 
.rot-back:hover {
    transform: scale(1.1) rotate(6deg);
}

.rot-back-slight:hover {
    transform: scale(1.1) rotate(3deg);
}

.rot-front:hover {
    transform: scale(1.1) rotate(-6deg);
}

.rot-front-slight:hover {
    transform: scale(1.1) rotate(-3deg);
}

.shrink-hover:hover, .shrink-hover:focus, .shrink-hover:active {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    z-index: 1000; 
}