.center_text {
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
}

.lower_text {
    position: absolute;
    top: 80%;
    left: 50%;
    
    transform: translate(-50%, -80%);
}

.container {
    position: relative;
    text-align: center;
}

.header_text {
    font-family: "Rubik Mono One";
    font-size: 15vw;

    -webkit-text-stroke: 4px #00000091;
    color: transparent;
}

.lower_header_text {
    font-family: "Rubik Mono One";
    font-size: 5vw;

    -webkit-text-stroke: 4px #39587a;
    color: transparent;
}